.row {
  margin-top: 10px;
}

.noNotes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.noNotes h1 {
  margin: 0 40px;
  text-align: center;
}

.noNotes img {
  height: auto;
  width: 400px;
}

.title {
  display: flex;
}

.title button {
  margin-left: auto;
  justify-content: flex-end;
}
