<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">
    This is a simple project, it was made during my Angular course and I still
    use it regularly to practice new stuff I learned about it :)
  </p>
  <hr class="my-4" />
  <p>It's really best Notepad that I had fun making as my first project!</p>
  <p class="lead">
    My GitHub
    <a
      class="btn btn-default outline-none"
      href="https://github.com/Bolszaker"
      target="_blank"
      role="button"
    >
      <i-bs name="github" width="75" height="75"></i-bs>
    </a>
  </p>
</div>
