.title {
  position: absolute;
  top: 15%;
  left: 53%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 40px;
  text-align: center;
}

.content {
  position: absolute;
  top: 23%;
  left: 9%;
  font-weight: bold;
  font-size: 20px;
  margin-right: 42px;
  max-height: 480px;
  overflow-y: auto;
  line-height: 160%;
}
