<div class="row">
  <div class="col-md-12">
    <h3>Edit your saved note!</h3>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="title">Title: </label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="title"
          ngModel
          required
          maxlength="14"
          [ngModel]="notes.title"
        />
      </div>
      <div class="textarea-wrapper">
        <label for="content">New Content: </label>
        <textarea
          class="form-control"
          type="text"
          id="content"
          name="content"
          style="resize: none"
          rows="10"
          [(ngModel)]="remainingValue"
          [ngModel]="notes.content"
          required
        ></textarea>
        <span class="remaining" *ngIf="remainingValue">{{
          1000 - remainingValue.length
        }}</span>
      </div>
      <div class="col md-12">
        <button
          type="button"
          class="btn btn-success"
          (click)="reallyUpdate(content)"
          [disabled]="!f.valid"
        >
          Save
        </button>
        <button type="button" class="btn btn-danger" (click)="onCancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm!</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
      style="box-shadow: none"
    ></button>
  </div>
  <div class="modal-body">
    <p><strong>Your new title:</strong> {{ f.value.title }}</p>
    <p><strong>Your new content:</strong> {{ f.value.content }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="onSubmit(f)">
      Update
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="d()">
      Back
    </button>
  </div>
</ng-template>
