<div class="row">
  <div class="col-xs-12">
    <ngb-alert *ngIf="notesSaved" type="success" (closed)="onClose()"
      >Successfully saved your note!</ngb-alert
    >
  </div>
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(n)" #n="ngForm">
      <div class="row">
        <div class="col-xs-12">
          <h1>Notepad</h1>
          <label for="title">Title </label>
          <div class="input-group mb-3">
            <input
              type="text"
              name="title"
              id="title"
              class="form-control"
              maxlength="14"
              ngModel
              required
            />
            <button
              *ngIf="n.value.title.length > 0"
              class="btn-close"
              type="button"
              ngbTooltip="Clear"
              (click)="onClearTitle()"
            ></button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="textarea-wrapper">
            <label for="content">Your notepad </label>
            <textarea
              class="form-control"
              id="content"
              name="content"
              type="text"
              rows="10"
              style="resize: none"
              maxlength="1000"
              [(ngModel)]="remainingValue"
            >
            </textarea>
            <span class="remaining" *ngIf="remainingValue">{{
              1000 - remainingValue.length
            }}</span>
            <button
              class="btn-close"
              type="button"
              ngbTooltip="Clear"
              (click)="onClearContent()"
            ></button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!n.valid"
            style="margin-right: 5px"
          >
            Save
          </button>
          <button type="button" class="btn btn-danger" (click)="onReset()">
            Reset
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
